extends layout

block content
  h1 What's the world making?
  ol
    - var mediaArray = []
    - for(var i = 0, N = data.length; i < N; i++)
      - var media = data[i].entities.media
      - if(media) 
        - var pic = media[0].media_url
      - console.log(mediaArray)
      - if(pic && mediaArray.indexOf(pic) == -1)
        li.tweet
          img(src=pic width=200)
        - mediaArray.push(pic)