doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Alice|Merriweather:300')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content