body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: auto;
}

a {
  color: #00B7FF;
}

/*= tweets */
.tweet {
  list-style: none;
  float: left;
  width: 200px;
  height: 200px;
  background: #f0f0f0;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
}
.tweet img {
  max-height: 100%;
}