body {
  background: url('../images/bg.png') no-repeat top center;
  width: 1140px;
  margin: auto;
  font-family: Merriweather, sans-serif;
}

h1 {
  font-family: Alice, georgia, serif;
  text-align: center;
}
h2 {
  text-align: center;
  font-size: 18px;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

/*= tweets */
.tweet {
  list-style: none;
  float: left;
  width: 360px;
  height: 360px;
  background: #000;
  margin: 10px;
  position: relative;
}
.tweet__img {
  max-height: 100%;
}
.tweet__text {
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.6);
  padding: 10px;
  font-size: 13px;
  line-height: 1.5;
}